body{
  background-color: grey;
}

.top {
  position: absolute;
  left: 0;
  right: 0;
  height: 150px;
  text-align: center;
  background-color: #edc253;
}

.left {
  position: absolute;
  left: 0;
  top: 200px;
  bottom: 0;
  width: 300px;
  text-indent: 20px;
  background-color: #8bd77c;
}

.main {
  position: absolute;
  left: 300px;
  top: 150px;
  right: 0;
  bottom: 0;
  background-color: grey;
}

.main-inner{
  position: absolute;
  left: 75px;
  top: 75px;
  right: 100px;
  bottom: 0;
}

.labelRow{
  left: 10px;
}
