body{
  background-color: grey;
  animation-name: colorChanger;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-delay: 10s;
}

.top {
  position: absolute;
  left: 0;
  right: 0;
  height: 150px;
  text-align: center;
  background-color: #edc253;
}

.top:hover{
  background-color: #b42c44;
  transition: 3s;
}

.left {
  position: absolute;
  left: 0;
  top: 200px;
  bottom: 0;
  width: 300px;
  text-indent: 20px;
  background-color: #069f0f;
}

.main {
  position: absolute;
  left: 300px;
  top: 150px;
  right: 0;
  bottom: 0;
  background-color: grey;
  animation-name: colorChanger;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-delay: 10s;
}

.mainInner{
  position: absolute;
  left: 75px;
  top: 75px;
  right: 100px;
  bottom: 0;
  animation-name: colorChanger;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-delay: 10s;
}

.labelRow{
  left: 10px;
}

@keyframes colorChanger{
  0%{background-color: grey;}
  25%{background-color: #1e5283;}
  50%{background-color: #359f93;}
  75%{background-color: #1e5283;}
  100%{background-color: grey;}
}

.textTitles{
  color: #e6cf5b;
}

.textText{
  color: white;
}

h1{
  font-size: 50px;
}
